body {
    font-family: Arial, sans-serif;
    background-color: #003049;
    cursor: pointer;
    body {
      animation: backgroundAnimation 10s infinite;
    }
    
    @keyframes backgroundAnimation {
      0% {
        background-color: #ff9a9e;
      }
      25% {
        background-color: #fad0c4;
      }
      50% {
        background-color: #fad0c4;
      }
      75% {
        background-color: #fbc2eb;
      }
      100% {
        background-color: #a18cd1;
      }
    }
    
}

.resume {
    width: 80%;
    margin: 0 auto;
    background-color: #272932;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f4f4f4;
}

.hidden {
    display: none;
}
button{
    padding-top: 0%;
    padding-bottom:0ch; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    justify-content: center; 
    border-color: #212529; 
    border-radius: 1rem;
    font-weight: 600; 
    color: #e1e1e1; 
    background-color: #000000;      
    cursor: pointer;
   
    
}

    .button:hover {
        background-color: #1b263b; ;
        color: white;
      }
      
      .head{
        font-size: 1.5rem;
        text-align: center;
        font-weight:bold;
        font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #e5e5e5; 
        text-decoration: underline ;
        
    }
    

    .dark h1 {
        color: #D1D5DB; 
    
      }
      .skills{
        font-size: 1.2rem;
        background-color: #04AA6D;
      }

     h3{
        color :#e0e1dd
      }
      .skill{
        background-color: #0d1b2a;
        color: #e0e1dd;
        border-radius: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        
      }
      